<h2>ジャンル一覧　ジャンル追加</h2>

<%=form_with model: @genre,url: genres_path do |f| %>


 <table>
   <tr><th>ジャンル名</th><td><%=f.text_field:name%></td><td><%=f.submit'新規登録'%></td></tr>
 </table>
<%end%>

 <table>
    <thead>
      <tr>
        <th>ジャンル</th>
      </tr>
    </thead>
  <%@genres.each do |genre|%>
    <tbody>
      <tr>
        <td><%=genre.name%></td>
        <td><%=link_to"編集する",edit_genre_path(genre.id)%></td>
      </tr>
    </tbody>
  <%end%>
</table>

 