<h2>ジャンル一覧　ジャンル追加</h2>

<%=form_with model: @genre,url: admin_genres_path do |f| %>

<h3>ジャンル名</h3> 
<%=f.text_field:name%>

<%=f.submit'新規登録'%>

<%end%>
<table>
  <thead>
      <tr>
         <th>ジャンル</th>
      </tr>
  </thead>
  <%@genres.each do |genre|%>
  <tbody>
      <tr>
        <td><%=genre.name%></td>
        <td><%=link_to"編集する",edit_admin_genre_path(genre.id)%></td>
      </tr>
  </tbody>
<%end%>
</table>